
.container{
  padding: 1rem;


  &__search{
    
    width: 100%;
    padding: 0.50rem 1rem;
    background-color: #e6e6e6;
    form{
      margin: 0 auto;
      text-align: center;
    }
    &__input{
      border: none;
      border-bottom: 2px solid #2b2b2b;

      padding: 1rem 0.25rem 0rem;
      background-color: #e6e6e6;
    }

    &--visible{
      position: absolute;
      top: 0px;
      left: 0;
      z-index: 1;
      width: 100%;
    }
    
  }
  &__grid{
    margin: 0 auto;
    padding: 0.50rem;
    width: 100%;
    max-width: 960px;
    column-count: 2;
    
    
      &{
        @media(min-width: 1024px){
          column-count: 4;
        }
      }
   

    article{
      margin-bottom: 1rem;
      img{
        width: 100%;
        height: auto;
        border-radius: 20px;
        box-shadow: 0px 0px 6px #41414170;
      }
    }
  }
}

