.form-title{
  text-align: center;
  padding: 2rem 0;
}

.container-forms{
  padding: 2rem 0;
  .forms{
    display: flex;
    flex-direction: column;
    height: 400px;

    &__box{
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-bottom: 2em;

      label{
        margin-bottom: 0.20rem;
      }
    }

    &__btn{
      display: flex;
      flex-direction: column;

      margin-top: 2rem;

      .button{
        width: 10rem;
        margin: 0 auto;
        font-size: 1.2rem;
        cursor: pointer;

        padding: 0.50rem 0.25rem;
        border-radius: 6px;
        font-weight: bold;
        box-shadow: 3px 3px 6px rgba(34, 75, 136, 0.25);
        
        &--login{
          background-color: rgb(59, 113, 196);
          color: #f5f5f5;

          &:hover, &:active{
            background: radial-gradient(circle,rgb(59, 113, 196),rgba(34, 75, 136));
          }
          
        }

        &--register{
          border: 1px solid rgb(59, 113, 196);
          color: rgb(59, 113, 196);
        }
        
      }
      .button:first-of-type{
        margin-bottom: 1.5em;
        border: none;
        
      }
    }
  }
}