.head{
  padding: 1.5rem 4rem;
  background-color: rgb(49, 108, 197);
  &__title{

    a{
      color: #f5f5f5;
      text-decoration: none;
    }
  }
}





@media(max-width: 1024px){
  .head{
    display: none;
  }
}