//helpers
.v-center{
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container__show{

  &__card, &__author{
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 6px #41414170;
  }

  &__card{
   display: flex;
   flex-direction: column;
    &--text{
      background-color: #fff;
      padding: 0.75rem 1.2rem 0;
  
      h1{
        margin-bottom: 0.75rem;
        font-size: 1.4rem;
      }
  
      p{
        font-size: 0.95rem;
      }
    }
    .show__box{
   
      &--image{
        width: 100%;
        
  
      }
    }

    &__author{
      height: 80px;
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
  
      background-color: #fff;
  
      &--avatar{
        margin-right: 0.5rem;
        margin-left: 1rem;
  
       figure{
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
         img{
          width: 100%;
          
         }
       }
      }
  
      &--name{
        flex: 1;
        
      }
    }

  }

  



  

}