@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300&display=swap);*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
label {
  font-family: "Open Sans Condensed", sans-serif;
}

p,
span,
a,
input {
  font-family: "Open Sans", sans-serif;
}

.head {
  padding: 1.5rem 4rem;
  background-color: #316cc5;
}

.head__title a {
  color: #f5f5f5;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .head {
    display: none;
  }
}

.foot {
  padding: 1rem 2rem;
  background-color: #636363;
  display: flex;
  justify-content: flex-end;
}

.foot__author {
  color: #f5f5f5;
}

.container {
  padding: 1rem;
}

.container__search {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #e6e6e6;
}

.container__search form {
  margin: 0 auto;
  text-align: center;
}

.container__search__input {
  border: none;
  border-bottom: 2px solid #2b2b2b;
  padding: 1rem 0.25rem 0rem;
  background-color: #e6e6e6;
}

.container__search--visible {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1;
  width: 100%;
}

.container__grid {
  margin: 0 auto;
  padding: 0.5rem;
  width: 100%;
  max-width: 960px;
  -moz-column-count: 2;
       column-count: 2;
}

@media (min-width: 1024px) {
  .container__grid {
    -moz-column-count: 4;
         column-count: 4;
  }
}

.container__grid article {
  margin-bottom: 1rem;
}

.container__grid article img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 6px #41414170;
}

.error {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #d14949;
  color: #f5f5f5;
  font-weight: bold;
}

.form-title {
  text-align: center;
  padding: 2rem 0;
}

.container-forms {
  padding: 2rem 0;
}

.container-forms .forms {
  display: flex;
  flex-direction: column;
}

.container-forms .forms__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 2em;
}

.container-forms .forms__box label {
  margin-bottom: 0.2rem;
}

.container-forms .forms__box--button__avatar {
  cursor: pointer;
  padding: 0.25rem 0.15rem;
  border: 1px solid black;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  margin: 1rem auto 0;
}

.container-forms .forms__box--avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 0px 6px #41414170;
}

.container-forms .forms__box--avatar img {
  width: 100%;
}

.container-forms .forms__box--create {
  width: 40%;
  margin: 0 auto;
  box-shadow: 0px 0px 6px #41414170;
  border-radius: 20px;
}

.container-forms .forms__box--create img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.container-forms .forms__box--input {
  border: none;
  padding: 4px;
  border-bottom: 2px solid black;
  background-color: #f5f5f5;
}

.container-forms .forms__box--input:focus,
.container-forms .forms__box--input:active {
  outline: none;
  border-bottom: 4px solid #3b71c4;
}

.container-forms .forms__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.container-forms .forms__btn .button {
  width: 10rem;
  margin: 0 auto;
  font-size: 16pt;
  cursor: pointer;
  margin-bottom: 1.5em;
  padding: 9px 16px;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 3px 3px 6px rgba(34, 75, 136, 0.25);
}

.container-forms .forms__btn .button--login,
.container-forms .forms__btn .button--update {
  background-color: #3b71c4;
  color: #f5f5f5;
  border: none;
}

.container-forms .forms__btn .button--login:hover,
.container-forms .forms__btn .button--login:active,
.container-forms .forms__btn .button--update:hover,
.container-forms .forms__btn .button--update:active {
  background: radial-gradient(circle, #3b71c4, #224b88);
}

.container-forms .forms__btn .button--register {
  border: 2px solid #224b88 !important;
  color: #3b71c4;
}

.fixed-menu {
  position: fixed;
  bottom: 1%;
  left: 20%;
  background-color: #e2e2e2;
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
  padding: 0.4rem 0.5rem;
}

.fixed-menu .menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fixed-menu .menu__icons {
  width: 20px;
  height: 20px;
}

.fixed-menu .menu__icons a {
  text-decoration: none;
  text-align: center;
}

.fixed-menu .menu__icons img {
  width: 100%;
}

.fixed-menu .menu__icons__avatar {
  background-color: #6b6b6b;
  width: 25px;
  height: 25px;
  border: 1px solid #212121;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  color: #e2e2e2;
  font-weight: bold;
  overflow: hidden;
}

.fixed-menu .menu__icons__avatar img {
  width: 100%;
}

@media (min-width: 1024px) {
  .fixed-menu {
    position: initial;
  }
}

.none {
  display: none;
}

.visible {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 1;
  width: 145px;
}

.radius {
  border-radius: 20px;
  overflow: hidden;
}

.profile {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__options {
  position: relative;
  padding: 1rem;
  cursor: pointer;
}

.profile__options img {
  width: 20px;
}

.profile__list {
  list-style: none;
  box-shadow: 3px 3px 6px #212121;
}

.profile__list__items {
  padding: 1rem;
  border-bottom: 2px solid black;
  cursor: pointer;
  text-align: center;
}

.profile__list__items--color {
  background-color: #e4e4e4;
}

.profile__list__items--danger {
  background-color: #df4545;
}

.profile__list__items--txt-danger {
  color: #df4545;
  font-weight: bold;
}

.v-center {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__show__card,
.container__show__author {
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 6px #41414170;
}

.container__show__card {
  display: flex;
  flex-direction: column;
}

.container__show__card--text {
  background-color: #fff;
  padding: 0.75rem 1.2rem 0;
}

.container__show__card--text h1 {
  margin-bottom: 0.75rem;
  font-size: 1.4rem;
}

.container__show__card--text p {
  font-size: 0.95rem;
}

.container__show__card .show__box--image {
  width: 100%;
}

.container__show__card__author {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
}

.container__show__card__author--avatar {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.container__show__card__author--avatar figure {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.container__show__card__author--avatar figure img {
  width: 100%;
}

.container__show__card__author--name {
  flex: 1;
}

body {
  background-color: #f5f5f5;
}

